html * {
  vertical-align: top;
  margin: 0;
}

body {
  background-image: url('/images/skulls.png');
  background-position: left-top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header {
  clear: both;
  width: 960px;
  height: 50px;
  margin: 25px auto 50px;
}

.container {
  width: 960px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  background-image: url('/images/stardust.png');
  background-position: left-top;
  border-radius: 4px;
  // padding-bottom: 40px;
  -webkit-box-shadow: 1px 0 10px #9b59b6;
  box-shadow: 1px 0 10px #9b59b6;
}
  
// .roll-info {
//   background-image: url('/images/stardust.png');
//   background-position: left-top;
// }

.roll-result {
  position: absolute;
  width: 960px;
  color: #f1c40f;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  // padding: 205px 0;
  z-index: 2;
  // opacity: 0;
	-webkit-animation-name: results;
	-webkit-animation-delay: 5s;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: paused;
	&.h2Class {
		color: black;
	}
	&.activate {
		opacity: 0;
		-webkit-animation-play-state: running;
	}
  &.reset {
  -webkit-animation-name: resetting-Opacity;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-play-state: paused;
  }
}
	@-webkit-keyframes results {
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
}
  @-webkit-keyframes resetting-Opacity {
    100% { opacity: 1; }
    0%   { opacity: 0; }
}


.intro {
	position: relative;
	width: 470px;
	height: 400px;
	margin: 0 auto;
}


.input-container {
  width: 640px;
  margin: 0 auto;
  display: inline;
  position: relative;
  top: 10px;
}

input {
    color: #9b59b6;
}

.dice-input {
    position: relative;
    top: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    color: #9b59b6;
    width: 325px;
    height: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    z-index: 3;
    // margin: 25px 0px 5px;
    // padding: 4px 20px 4px 8px;
    background: #fcfcfc;
    // box-shadow: 1px 1px 0 #fff;
    // -webkit-box-shadow: 1px 0 10px #9b59b6;
    // box-shadow: 1px 0 10px #9b59b6;
    // display: inline-block;
}

.button1 {
		position: relative;
		top: 0px;
    // width: 150px;
    height: 50px;
    border-radius: 2px;
    margin-right: 40px;
    background-color: #f1c40f;
    font-family: 'Roboto Slab', serif;
    color: #9b59b6;
    // margin: 15px 235px;
    padding: 10px;
    line-height: 43px;
    text-align: center;
    text-decoration: uppercase;
    display: inline;
    -webkit-box-shadow: 1px 0 4px #f1c40f;
    box-shadow: 1px 0 4px #f1c40f;

    &:hover {
      cursor: pointer;
      background-color: #f1c40f;
      color: #9b59b6;
      -webkit-box-shadow: 1px 0 4px #9b59b6;
      box-shadow: 1px 0 4px #9b59b6;
  }
}

.button2 {
		position: relative;
		top: 0px;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    background-color: #9b59b6;
    font-family: 'Roboto Slab', serif;
    color: #f1c40f;
    // margin: 15px 235px;
    padding: 10px;
    line-height: 43px;
    text-align: center;
    text-decoration: uppercase;
    display: inline;
    -webkit-box-shadow: 1px 0 4px #f1c40f;
    box-shadow: 1px 0 4px #f1c40f;

    &:hover {
      cursor: pointer;
      background-color: #f1c40f;
      color: #9b59b6;
      -webkit-box-shadow: 1px 0 4px #9b59b6;
      box-shadow: 1px 0 4px #9b59b6;
  }
}

.footer {
  clear: both;
  height: 150px;
  width: 100%;
  background: #FDFDFD;
  border-top: 1px solid #DFDFDF;
}

h1 {
  font-family: 'Slackey', cursive;
  font-size: 62px;
  color: #f1c40f; 
  text-align: center;
  -webkit-text-shadow: 1px 0 1px #9b59b6;
  text-shadow: 1px 0 1px #9b59b6;
}

h2 {
  // font-family: 'Slackey', cursive;
  font-size: 50px;
  color: #9b59b6; 
  text-align: center;
  position: relative;
  top: 168px;
  // padding-top: 50%;
  -webkit-text-shadow: 1px 0 1px #f1c40f;
  text-shadow: 1px 0 1px #f1c40f;
}

p {
  color: #f1c40f;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 140px 20px;
}


#tridiv {
  perspective: 800px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
.face {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  // transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(-27.8deg) rotateZ(-0.8deg);
  // transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width:10em;
  height:10em;
  margin:-5em 0 0 -5em;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 5s;
  // -webkit-animation-timing-function: ease-in;
  // -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  // -webkit-animation-direction: forward;
  // -webkit-animation-fill-mode: forward;
  -webkit-animation-play-state: paused;
  opacity: 0;
  &.activate {
    -webkit-animation-play-state: running;
  }
  &.opacity {
    opacity: 1;
  }
  &.reset {
  width:10em;
  height:10em;
  margin:-5em 0 0 -5em;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: anti-rotate;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-play-state: paused;
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateX(1800deg) rotateY(2160deg) rotateZ(360deg);
  }
}

@-webkit-keyframes anti-rotate {
  from {
    -webkit-transform: rotateX(1800deg) rotateY(2160deg) rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

h3 {
  color: #9b59b6; 
  text-align: center;
  font-size: 60px;
  top: 27%;
  position: relative;
}

.cub-1 .ft {
  transform:translateZ(5em);
  &.h2ClassFace {
    font-size: 40px;
  }
  // &:after {
  //   content: '';
  //   font-size: 40px;
  // }
}

.cub-1 .bk {
  transform:translateZ(-5em) rotateY(180deg);
}

.cub-1 .rt, .cub-1 .lt {
  width:10em;
  height:10em;
}

.cub-1 .tp, .cub-1 .bm {
  width:10em;
  height:10em;
}

.cub-1 .face {
  background-color:#FFFFFF;
}