html * {
  vertical-align: top;
  margin: 0;
}

body {
  background-image: url('/images/skulls.png');
  background-position: left-top;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.header {
  clear: both;
  width: 960px;
  height: 50px;
  margin: 25px auto 50px;
}

.container {
  width: 960px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 640px;
  height: 400px;
  margin: 0 auto;
  background-image: url('/images/stardust.png');
  background-position: left-top;
  border-radius: 4px;
  padding-bottom: 40px;
  -webkit-box-shadow: 1px 0 10px #9b59b6;
  box-shadow: 1px 0 10px #9b59b6;
}
  
// .roll-info {
//   background-image: url('/images/stardust.png');
//   background-position: left-top;
// }

.roll-result {
  position: absolute;
  width: 960px;
  color: #f1c40f;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 205px 0;
  z-index: 2;
}

#tridiv {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 0 auto;
  display: none;

  &.activate {
    display: block;
  }
}

.input-container {
  width: 640px;
  margin: 0 auto;
}

input {
    color: #9b59b6;
}

.dice-input {
    position: relative;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 300;
    color: #9b59b6;
    width: 150px;
    height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 25px 220px 5px;
    padding: 4px 20px 4px 8px;
    background: #fcfcfc;
    // box-shadow: 1px 1px 0 #fff;
    // -webkit-box-shadow: 1px 0 10px #9b59b6;
    // box-shadow: 1px 0 10px #9b59b6;
    // display: inline-block;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 2px;
    background-color: #9b59b6;
    font-family: 'Roboto Slab', serif;
    color: #f1c40f;
    margin: 15px 235px;
    // margin-top: 15px;
    // margin-left: 10px;
    line-height: 50px;
    text-align: center;
    text-decoration: uppercase;
    // display: inline-block;
    -webkit-box-shadow: 1px 0 4px #f1c40f;
    box-shadow: 1px 0 4px #f1c40f;

    &:hover {
      cursor: pointer;
      background-color: #f1c40f;
      color: #9b59b6;
      -webkit-box-shadow: 1px 0 4px #9b59b6;
      box-shadow: 1px 0 4px #9b59b6;
  }
}

.footer {
  clear: both;
  height: 150px;
  width: 100%;
  background: #FDFDFD;
  border-top: 1px solid #DFDFDF;
}

h1 {
  font-family: 'Slackey', cursive;
  font-size: 62px;
  color: #f1c40f; 
  text-align: center;
  -webkit-text-shadow: 1px 0 1px #9b59b6;
  text-shadow: 1px 0 1px #9b59b6;
}

h2 {
  font-family: 'Slackey', cursive;
  font-size: 50px;
  color: #9b59b6; 
  text-align: center;
  padding-top: 50%;
  -webkit-text-shadow: 1px 0 1px #f1c40f;
  text-shadow: 1px 0 1px #f1c40f;
}

p {
  color: #f1c40f;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding: 160px 20px;
}